version: 2

updates:
  - package-ecosystem: "github-actions"
    directories:
      - "**/*"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 * *"
    groups:
      github-actions:
        patterns:
          - '*'
  - package-ecosystem: "npm"
    directories:
      - "**/*"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 * *"
    groups:
      npm:
        patterns:
          - '*'