name: CI
on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: docker compose up --pull always -d
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: npm ci
      - run: npm run build --if-present
      - run: npx biome ci . --reporter=github --error-on-warnings
      - run: npm run depcheck
      - run: npm run test
